<div class="mt-5"></div>
<div class="grid align-items-center justify-content-center">
    <div class="col-11">
        <p-fieldset legend="Employees">
            <div class="mb-5">
                <p-button label="Add Employee" class="p-button-raised" [loading]="false"></p-button>
            </div>
            <p-table [value]="employees" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-gridlines"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,20,50]" [resizableColumns]="true"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:35%">
                            <span class="flex align-items-center justify-content-center">Name</span>
                        </th>
                        <th style="width:5%">
                            <span class="flex align-items-center justify-content-center">Grade</span>
                        </th>
                        <th style="width:5%">
                            <span class="flex align-items-center justify-content-center">Gender</span>
                        </th>
                        <th style="width:10%">
                            <span class="flex align-items-center justify-content-center">DOB</span>
                        </th>
                        <th style="width:10%">
                            <span class="flex align-items-center justify-content-center">DOJ</span>
                        </th>
                        <th style="width:35%">
                            <span class="flex align-items-center justify-content-center">Supervisor</span>
                        </th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee>
                    <tr>
                        <td>{{employee.firstName + ' ' + employee.lastName}}</td>
                        <td>{{employee.grade.id}}</td>
                        <td>{{ genders[employee.gender]}}</td>
                        <td>{{employee.dob | date: "MMM dd yyyy"}}</td>
                        <td>{{employee.doj | date: "MMM dd yyyy"}}</td>
                        <td>{{employee.supervisor}}</td>
                        
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </div>
    
</div>
<p-toast></p-toast>